# .clang-tidy
# This file configures clang-tidy. Place it in your project's root directory.
---
Checks: >
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  portability-*,
  readability-*,
  modernize-*,

  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  -readability-identifier-naming,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-redundant-access-specifiers,
  -readability-convert-member-functions-to-static,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -google-*,
  -llvm-*,
  -fuchsia-*

HeaderFilterRegex: '.*'
...
